.page{
    min-height: 72vh;
}
/* home */
.hero img{
    height: 63vh;
    width: 100%;
}
.home-img{
    height: 180px;
    width: 180x;
}
.post-title a{
    text-decoration: none;
    color: black;
}
.post-image{
    max-height: 36vh;
}
/* profile */
.profile-pic{
    height: 144px;
    width: 144px;
    border-radius: 50%;
}
.contact-image{
    height: 45px;
    width: 45px;
}
/* chat */
.specialist-pic{
    height: 81px;
    width: 81px;
    border-radius: 50%;
}
.chat-img{
    height: 90px;
    width: 90px;
}
/* chat page */
.msg-badge{
    display: none;
}
.sender-badge{
    display: none;
}
.sender .msg-badge{
    display: block;
    float: right;
    width: 5em;
}
.receiver .sender-badge{
    display: flex;
    width: 5em;
}
