.page{
    min-height: 72vh;
}
/* home */
.hero img{
    height: 63vh;
    width: 100%;
}
.home-img{
    height: 180px;
    width: 180x;
}
.post-title a{
    text-decoration: none;
    color: black;
}
.post-image{
    max-height: 36vh;
}
.profile-pic{
    height: 144px;
    width: 144px;
    border-radius: 50%;
}